[Unit]
Description=log automatique de l'utilisateur xbmc sur le sript de demarrage
After=syslog.target

[Service]
User=%i
Groupe=Users
WorkingDirectory=/link
ExecStart = /usr/bin/startxfce4
#ExecStart = /usr/bin/xinit /usr/bin/xbmc-standalone -- :0 -nolisten tcp
Restart=yes

[Install]
WantedBy=multi-user.target 